<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cartMapper">
	<resultMap type="cart" id="cartMap">
		<id column="cart_id" property="cartId"/>
		<result column="cart_Qty" property="cartQty"/>
		<result column="user_Id" property="userId"/>
		<result column="goods_id" property="goodsId"/>
		<result column="cart_Insert_Date" property="cartInsertDate"/>
		<result column="cart_Update_Date" property="cartUpdateDate"/>

		<association  property="goods" javaType="goods">
			<id column="goods_id" property="goodsId"/>
			<result column="goods_class_id" property="goodsClassId"/>
			<result column="goods_state_id" property="goodsStateId"/>
			<result column="goods_name" property="goodsName"/>
			<result column="goods_detail" property="goodsDetail"/>
			<result column="goods_thumbnail" property="goodsThumbnail"/>
			<result column="goods_price" property="goodsPrice"/>
			<result column="goods_insert_date" property="goodsInsertDate"/>
			<result column="goods_update_date" property="goodsUpdateDate"/>
		</association>
	</resultMap>


	<insert id="insertCart" parameterType="cart">
		insert into cart
		values(cart_id_seq.nextval, #{cartQty}, #{userId}, #{goodsId}, systimestamp, systimestamp)
	</insert>
	
	<update id="updateGoods" parameterType="goods">
		update goods
		<trim prefix="set" prefixOverrides=", " suffix=", goods_update_date = systimestamp">
			<if test="goodsClassId != null">
				goods_class_id = #{goodsClassId}
			</if>
			<if test="goodsStateId != null">
				, goods_State_Id = #{goodsStateId}
			</if>
			<if test="goodsName != null">
				, goods_Name = #{goodsName}
			</if>
			<if test="goodsDetail != null">
				, goods_Detail = #{goodsDetail}
			</if>
			<if test="goodsThumbnail != null">
				, goods_Thumbnail = #{goodsThumbnail}
			</if>
			<if test="goodsPrice != null">
				, goods_Price = #{goodsPrice}
			</if>
		</trim>
		where goods_id = #{goodsId}
	</update>
	
	<delete id="deleteCart" parameterType="cart">
		delete cart
		<trim prefix="where" prefixOverrides="and ">
			<if test="userId != null">
				user_id = #{userId}
			</if>
			<if test="cartId != null">
				and cart_id = #{cartId}
			</if>
		</trim>
	</delete>
	
	<select id="findCart" parameterType="cart" resultMap="cartMap">
		select g.*, c.cart_id, c.cart_qty, c.user_id, c.cart_insert_date, c.cart_update_date
		from cart c join goods g on c.goods_id = g.goods_id
		<trim prefix="where" prefixOverrides="and ">
			<if test="cartId != null">
				c.cart_id = #{cartId}
			</if>
			<if test="cartId != null">
				and c.user_Id = #{userId}
			</if>
			<if test="cartId != null">
				and g.goods_Id = #{goodsId}
			</if>
		</trim>
		order by c.cart_id desc
	</select>
	
</mapper>