<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="goodsMapper">
	<insert id="insertGoods" parameterType="goods">
		insert into goods
		values(goods_id_seq.nextval, #{goodsClassId}, 1, #{goodsName}, #{goodsDetail}, #{goodsThumbnail}, #{goodsPrice}, systimestamp, systimestamp)
	</insert>
	
	<select id="findAllGoodsClass" resultType="goodsClass">
		select * from goods_class
	</select>
	
	<select id="findGoodsClass" parameterType="long" resultType="goodsClass">
		select * from goods_class where goods_class_id = #{_parameter}
	</select>
	
</mapper>